// ( xs ) sm md ll lg xl xxl

// Классы заголовков
.title {

  // .title-sm
  &-sm {
    font-size: 21px;
    font-family: PermianSerifTypeface;
    line-height: 110%;
  }

  // .title-md
  &-md {
    font-size: 22px;
    font-family: PermianSerifTypeface;
    line-height: 140%;
  }

  // .title-ll
  &-ll {
    font-size: 25px;
    font-family: PermianSerifTypeface;
    line-height: 100%;
  }  

  // .title-lg
  &-lg {
    font-size: 36px;
    font-family: PermianSerifTypeface;
    line-height: 120%;
  }

  // .title-xl
  &-xl {
    font-size: 50px;
    font-family: PermianSerifTypeface;
    line-height: 100%;
  }

  // .title-xxl
  &-xxl {
    font-size: 64px;
    font-family: PermianSerifTypeface;
    line-height: 100%;
  }
}

// ( xs ) sm md ll lg xl xxl
// Классы текста
.text {

  // .text-sm
  &-sm {
    font-size: 12px;
    line-height: 140%;
  }

  // .text-md
  &-md {
    font-size: 13px;
    line-height: 130%;
  }

  // .text-ll
    &-ll {
    font-size: 15px;
    line-height: 140%;
  }

  // .text-lg
    &-lg {
    font-size: 16px;
    line-height: 130%;
  }

  // .text-xl
    &-xl {
    font-size: 18px;
    line-height: 100%;
  }
}
  
// Классы для цвета текста
.color {
  
  // .color-white
  &-white {
    color: $color-white;
  }

  // .color-warning-light
  &-warning-light {
    color:$color-warning-light;
  }
}

// Helpers

@for $i from 1 to 10 {
  $fw: calc($i * 100);
  .fw-#{$fw} {
    font-weight: #{$fw};
  }
}
// text-transform
.tt-uppercase {
  text-transform: uppercase;
}

// link
.link {
  cursor: pointer;
  transition: $transition-mod;

  &:hover {
    color: $color-warning-light;
  }
}
