
// Font
$font-size-main-text: 16px;
$font-lh-main-text: 130%;
$font-weight-main-text: 400;
$font-base: Gilroy, Arial, sans-serif;
$font-title: PermianSerifTypeface, Arial, sans-serif;

$color-white: #fff;
$color-warning: #B14101;
$color-warning-deep: #A9845C;
$color-warning-light: #FFD6A8;
$color-warning-muddy: #926341;
$color-dark: #3B3937;
$color-secondary: #B1B0AF;
$color-secondary-deep: #DADADA;
$color-secondary-light: #F3F0EE;

$transition-mod: all 0.3s ease;


$breakpoint-desktop: 1400px;
$breakpoint-desktop-md: 1280px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-mobile-sm: 525px;

$container-desktop: 1320px;
$container-gap: 20px;